#bio {
  background-image: url('../../images/siteImages/aboutTheArtistBG.jpg');
  margin-bottom: 2em;

  h2 {
    background-color: #f8f8ff;
    padding: 20px;
  }
}

img {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@media only screen and (max-width: 1500px) {
  #bio {
    background: #f8f8ff;
    padding: 10px;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  #mitraPainting {
    width: 75%;
    margin-left: 40px;
    margin-right: auto;
    display: block;
    margin-top: 150px;
  }
}