html {
  scroll-behavior: smooth;
}

.App {
  width: 60%;
  margin-right: auto;
  margin-left: auto;

  h1 {
    text-align: center;
    font-family: "Brush Script MT", "Snell Roundhand",cursive;
    font-size: 56px;
    font-style: oblique;
    color: #797e81;
    margin: 0;
    padding-top: 0;
    padding-bottom: .5em;
    font-weight: 700;
  }
  
  h2 {
    text-align: center;
    font-family: "Brush Script MT", "Snell Roundhand",cursive;
    font-size: 36px;
    font-style: oblique;
    color: #797e81;
    // border-bottom: 1px solid #797e81;
    padding-bottom: 18px;
  }
  
  p {
    text-align: justify;
    font-family: "Nanum Myeongjo",serif;
    font-size: 24px;
    font-style: oblique;
    line-height: 1.5;
    color: #797e81;
  }

  @media only screen and (max-width: 1000px) {
    p {
      font-size: 1em;
      font-family: "Nanum Myeongjo",serif;
      font-style: oblique;
      line-height: 1.5;
      color: #797e81;
      text-align: justify;
    }
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff2d;
  background: #f8f8ff;
  z-index: 2;
  margin-bottom: 10px;
}

.navBar {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  a {
    text-align: center;
    border: none;
    outline: none;
    color: #797e81;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: "Nanum Myeongjo",serif;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  a:active {
    text-decoration: none;
    color: #797e81!important;
  }

  a:hover {
    color: #C0C0C0;
    transition-duration: 0.4s;
  }
}