html {
  scroll-behavior: smooth;
}

.App {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
  font-family: "Snell Roundhand",cursive;
  font-size: 56px;
  font-style: oblique;
  color: #797e81;
  margin: 0;
  padding-top: 0;
  padding-bottom: .5em;
}

h2 {
  text-align: center;
  font-family: "Snell Roundhand",cursive;
  font-size: 36px;
  font-style: oblique;
  color: #797e81;
}