.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff2d;
  background: #f8f8ff;
  z-index: 2;
  margin-bottom: 10px;
}

.navBar {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  a {
    text-align: center;
    border: none;
    outline: none;
    color: #797e81;
    text-align: center;
    text-decoration: none;
    font-family: "Nanum Myeongjo",serif;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  a:active {
    text-decoration: none;
    color: #797e81!important;
  }

  a:hover {
    color: #C0C0C0;
    transition-duration: 0.4s;
  }
}